<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Page</title>
    <h1 style="color: brown;text-align: center;">Add Employe Details</h1>
</head>
<body>
    <form action="Edit Page.html" id="f" method="post" onclick="return validate()" >
        <div id = "d1">
    <label>EmployeeCode</label>
    <input type="number" name="EmployeeCode" id="EmployeeCode" />
    <p id="p1" style="color: goldenrod;"></p>
</div>
</br>

<div id = "d2">
    <label>FirstName</label>
    <input type="text" name="First Name" id = "firstname">
    <p id="p2" style="color: goldenrod;"></p>
</div>
</br>
<div id = "d3">
    <label>LastName</label>
    <input type="text" name="Last Name" id = "lastname">
    <p id="p3" style="color: goldenrod;"></p>
</div>
</br>
<div id = "d4">
    <label>Date of Birth</label>
    <input type="date" name="date of birth" id="date of birth" />
    <p id="p4" style="color: goldenrod;"></p>
</div>
</br>

<div id = "d5">
    <label>Date of Joining</label>
    <input type="date" name="date of joining" id="date of joining" />
    <p id="p5" style="color: goldenrod;"></p>
</div>
</br>
<div id = "d6">
    <label>Email</label>
    <input type="email" name="email" id="Email" />
    <p id="p6" style="color: goldenrod;"></p>
</div>
</br>
<div id = "d7">
    <label>Mobile Number</label>
    <input type="number" name="Mobile Number" id="Mobile Number" />
    <p id="p7" style="color: goldenrod;"></p>
</div>
</br>
<div id = "d8">
    <label>Salary</label>
    <input type="number" name="Salary" id="Salary" />
    <p id="p8" style="color: goldenrod;"></p>
</div>
</br>

<button type="submit"><a href="ListPage.html"> Save</a></button>
    </form>
</body>
</html>