<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Profile System</title>
    <h1 style="color: brown;text-align: center;">Employee Profile System</h1>
</head>
<body>
    <nav>
        <a href="EmployeeProfileSystem.html">Home</a>
        <a href="ListPage.html">List Page</a>
    </nav>
</body>
</html>